{% extends "layout.html" %}
{% block title %}Admin Panel - Sports League Management{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-4">Admin Panel</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/add_stadium" class="list-group-item list-group-item-action">Add Stadium</a>
                <a href="/add_league" class="list-group-item list-group-item-action">Add League</a>
                <a href="/add_season" class="list-group-item list-group-item-action">Add Season</a>
                <a href="/add_team" class="list-group-item list-group-item-action">Add Team</a>
                <a href="/add_coach" class="list-group-item list-group-item-action">Add Coach</a>
                <a href="/add_player" class="list-group-item list-group-item-action">Add Player</a>
                <a href="/add_match" class="list-group-item list-group-item-action">Add Match</a>
                <a href="/add_result" class="list-group-item list-group-item-action">Add Result</a>
                <a href="/add_score" class="list-group-item list-group-item-action">Add Score</a>
                <a href="/add_game_stat" class="list-group-item list-group-item-action">Add Game Stat</a>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Welcome to the Admin Dashboard</h2>
            <p>Use the sidebar to manage the system.</p>
        </div>
    </div>
    <nav class="mt-4">
        <ul class="nav">
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
