{% extends "user_dashboard.html" %}
{% block user_content %}
<h2>Match Profiles</h2>
<ul class="list-group">
    {% for match in matches %}
        <li class="list-group-item d-flex flex-column">
            <div class="d-flex justify-content-between w-100 mb-2">
                <div class="font-weight-bold">
                    <small>{{ match[5] }} | Matchday: {{ match[8] }}</small>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center match-result-box p-3 bg-light rounded shadow-sm">
                <a href="{{ url_for('user.profile_match', match_id=match[0]) }}" class="d-flex align-items-center text-dark">
                    <img src="{{ match[6] }}" alt="{{ match[1] }} Logo" style="height: 30px; margin-right: 10px;">
                    <strong class="mx-2">{{ match[1] }}</strong>
                    <span class="match-score-box mx-2 bg-primary text-white px-2 py-1 rounded">{{ match[3] }} - {{ match[4] }}</span>
                    <strong class="mx-2">{{ match[2] }}</strong>
                    <img src="{{ match[7] }}" alt="{{ match[2] }} Logo" style="height: 30px; margin-left: 10px;">
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
